# =========================================================
# Dependências para o ambiente de desenvolvimento e testes
# =========================================================

# Framework para testes automatizados
pytest==8.2.2

# Plugin para gerar relatórios de testes em formato HTML
pytest-html==4.1.1